<div class='row justify-content-center px-3'>
  <div class='card p-0'>
    <header class='p-0'><h5 class='page-title mt-2 px-4'>Add New Post</h5></header>
    <form class='form login-form px-3 px-4 me-3'>
      <div class='form-group'>
        <label for='title'>Title</label>
        <input id='title' class='form-input' type='text' />
      </div>
      <div class='form-group'>
        <label for='description'>Description</label>
        <textarea
          id='description'
          name='ingredients'
          class='form-input'
          rows='10'
          cols='80'
        ></textarea>
      </div>
      <div class='form-group'>
        <button
          id='save-post'
          class='btn btn-primary rounded-pill px-4 py-0 mt-1'
          type='submit'
        >Save</button>
      </div>
    </form>
  </div>
</div>
<script src='/js/post.js'></script>