<div class='row justify-content-center px-3'>
  <div class='card p-0'>
    <header class='p-0'><h5 class='page-title mt-2 px-4'>Edit Post</h5></header>
    <form class='form login-form px-3 px-4 me-3'>
      <div class='form-group'>
        <label for='title'>Title</label>
        <textarea
          id='title'
          name='ingredients'
          class='form-input'
          rows='1'
          cols='80'
        >{{post.title}}</textarea>
      </div>
      <div class='form-group'>
        <label for='description'>Description</label>
        <textarea
          id='description'
          name='ingredients'
          class='form-input'
          rows='10'
          cols='80'
        >{{post.description}}</textarea>
      </div>
      <div class='form-group d-inline'>
        <button
          id='update-post'
          class='btn btn-primary rounded-pill px-4 py-0 mt-1'
          type='submit'
        >Update</button>
        <div class='form-group d-inline'>
          <button
            id='delete-post'
            class='btn btn-primary rounded-pill px-4 py-0 mt-1'
            type='submit'
          >Delete</button>
        </div>
      </div>
    </form>
  </div>

</div>
<script src='/js/editPost.js'></script>