:root {
  --primary: #293a37;
  --secondary: #cacecd;
  --tertiary: #406059;
  --quatrinary: #6c6b67;
  --light: #d7dad7;
  --dark: #182c23;
  --error: rgb(154, 36, 7);
  --border-radius: 0.3rem;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--secondary);
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

header {
  padding: 40px;
  background: var(--primary);
  color: var(--light);
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;

}

nav {
  color: var(--light);
}

nav a {
  color: var(--light);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: var(--secondary);

}

.blog {
  width: 100%;
  background-color: #fff;
  padding: 50px;
  flex-flow: row wrap;
  justify-content: center;
}

.btn-no-style {
  color: var(--light);
  background: none;
  border: none;
  padding: 0;
  padding-right: 20px;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
}

/* CARDS */
.card {
  border: 1px solid #1a1a1a;
  margin-bottom: 1rem;
}

.card,
.comment-form {
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: var(--secondary);
  color: var(--dark);
  width: 100%;
}

.dashboard-card {
  border-style: 7px groove var(--dark);
  width: 100%;
}

.login-card,
.signup-card {
  margin: 0 0 20px 0;
  padding: 25px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: var(--secondary);
  color: var(--dark);
  width: 75%;
}

.card header {
  color: var(--light);
  font-weight: bold;
  margin: 0;
  background-color: var(--primary);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

.blog-name {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px var(--secondary);
  border: 10px groove var(--light);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 100px;
  padding-left: 100px;
}

/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}

h1.heading {
  background-color: var(--secondary);
  width: 280px;
  padding-left: 10px;
  margin-left: 15px;
  font-size: 2.5rem;
  color: var(--dark);
  display: inline-block;
  border-radius: var(--border-radius);
  box-shadow: 6px 5px var(--quatrinary);
}

.heading-createdby {
  display: inline-block;
  text-align: right;
  /* width: 100%; */
}

.text-area {
  height: 100px;
  background-color: var(--light);
}

.btn.btn-primary {
  background-color: var(--primary);
  color: var(--light);
}

.btn.btn-primary:hover {
  background-color: var(--tertiary);
  border-color: var(--tertiary);
}

.btn {
  text-align: center;
  display: inline-block;
  padding: 0.5rem 1.2rem;
  margin: 0;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  outline: none;
  color: #1a1a1a;
  background-color: #aeaeae;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

form {
  width: 100%;
}

form .form-group {
  display: block;
  width: 100%;
  margin: 0.625rem 0;
}

form .form-input,
form .form-textarea {
  display: block;
}

form label,
form .form-label {
  display: inline-block;
  font-size: 1.2rem;
  margin: 0.625rem 0 0.25rem 0.3rem;
}

form .form-input {
  width: 100%;
  padding: 0.75rem;
  color: #1a1a1a;
  background-color: #ffffff;
  margin: 0.625rem 0;
  font-size: 1.2rem;
  border: 1px solid #484848;
  border-radius: 0.3rem;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#delete-post:hover {
  background-color: var(--error);
}

#text-description {
  background-color: var(--secondary);
  border: none;
}

.textarea {
  outline: none;
  border: none;
  resize: none;
  min-height: 40px;
  line-height: 22px;
}

#over_flow p {
  line-height: 30px;
  overflow: hidden;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-inline-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}